@font-face {
	font-family: "Yekan Bakh FaNum";
	font-style: normal;
	font-weight: normal;
	src: url("/assets/fonts/yekanbakh/woff/YekanBakhFaNum-Regular.woff") format("woff"),
		url("/assets/fonts/yekanbakh/woff2/YekanBakhFaNum-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Yekan Bakh FaNum";
	font-style: normal;
	font-weight: bold;
	src: url("/assets/fonts/yekanbakh/woff/YekanBakhFaNum-Bold.woff") format("woff"),
		url("/assets/fonts/yekanbakh/woff2/YekanBakhFaNum-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Yekan Bakh FaNum";
	font-style: normal;
	font-weight: 900;
	src: url("/assets/fonts/yekanbakh/woff/YekanBakhFaNum-ExtraBlack.woff") format("woff"),
		url("/assets/fonts/yekanbakh/woff2/YekanBakhFaNum-ExtraBlack.woff2") format("woff2");
}

:root {
	/* --yellow-color: #ffbd00;
	--bg-dark: #be941f; */
}

.bg-yellow-900 {
	/* background-color: var(--yellow-color); */
}
body {
	font-family: "Yekan Bakh FaNum";
	font-feature-settings: "kern" on, "liga" on, "dlig" on;
	/* -moz-font-feature-settings: "kern" on, "liga" on, "dlig" on;
	-webkit-font-feature-settings: "kern" on, "liga" on, "dlig" on;
	-ms-font-feature-settings: "kern" on, "liga" on, "dlig" on;
	-o-font-feature-settings: "kern" on, "liga" on, "dlig" on; */
	font-size: 1rem;
}

/* utilities */
.text-400 {
	font-weight: 400 !important;
}

.text-700 {
	font-weight: 700 !important;
}

.text-900 {
	font-weight: 900 !important;
}

.img-grid-1 .img-grid-item:first-child {
	margin-right: 20%;
	margin-left: 0;
}
.img-grid-1 .img-grid-item:nth-child(2) {
	margin-right: -80%;
	margin-left: 0;
}
.img-grid-1 .img-grid-item:nth-child(3) {
	margin-right: 60%;
	margin-left: 0;
}
.img-grid-1 .img-grid-item:nth-child(4) {
	margin-right: -85%;
	margin-left: 0;
}
.img-grid-1 .img-grid-item:nth-child(5) {
	margin-right: 55%;
	margin-left: 0;
}
.img-grid-1 .img-grid-item:nth-child(6) {
	margin-right: 25%;
	margin-left: 0;
}
.img-grid-1 .img-grid-item:nth-child(7) {
	margin-right: 10%;
	margin-left: 0;
}
.img-grid-2 .img-grid-item:first-child {
	margin-right: 35%;
	margin-left: 0;
}
.img-grid-2 .img-grid-item:nth-child(2) {
	margin-right: 0;
	margin-left: 0;
}
.img-grid-2 .img-grid-item:nth-child(3) {
	margin-right: 40%;
	margin-left: 0;
}
.img-grid-3 .img-grid-item:first-child {
	margin-right: 10%;
	margin-left: 0;
}
.img-grid-3 .img-grid-item:nth-child(2) {
	margin-right: -20%;
	margin-left: 0;
}
.img-grid-3 .img-grid-item:nth-child(3) {
	margin-right: -40%;
	margin-left: 0;
}
.img-grid-3 .img-grid-item:nth-child(4) {
	margin-right: -85%;
	margin-left: 0;
}

.img-grid-4 .img-grid-item:first-child {
	margin-right: 30%;
	margin-left: 0;
}
.img-grid-4 .img-grid-item:nth-child(2) {
	margin-right: 0;
	margin-left: 0;
}
.img-grid-4 .img-grid-item:nth-child(3) {
	margin-right: 50%;
	margin-left: 0;
}

.table thead th {
	color: #8d9aae;
	font-family: inherit;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 0;
	text-transform: initial;
}
.navbar-logo {
	width: 142px;
	/* height: 80px; */
	object-fit: contain;
}
.dynamic-text {
	/* font-size: 2rem; */
}
.btn-primary {
	/* background-color: var(--yellow-color);
	color: #fff !important; */
}
.btn-primary:hover {
	/* background-color: rgba(255, 189, 0, 0.7); */
}
.flickity-button {
	/* background-color: var(--yellow-color);
	border-color: var(--yellow-color); */
}
.flickity-button:hover {
	/* background-color: rgba(255, 189, 0, 0.7); */
}
.svg-shapes {
	/* color: #333; */
}
.text-primary,
.text-primary-dark,
a,
.text-primary-light,
.text-dark {
	/* color: var(--yellow-color) !important; */
}
.bg-dark {
	/* background-color: #333 !important; */
}
.nav-link {
	/* color: #333 !important; */
}
.table-clickable [data-href]:hover .table-clickable-hover {
	/* color: var(--yellow-color); */
}
